apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: crai-jaf-frontend
  namespace: flux-config
  labels:
    backstage.io/kubernetes-id: crai-jaf-frontend
    backstage.io/kubernetes-team: crai-mcu
spec:
  releaseName: crai-jaf-frontend
  chart:
    spec:
      chart: crai-jaf-frontend
      version: 0.1.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: crai-mcu-helm-repo
        namespace: flux-config
  install:
    createNamespace: true
  interval: 5m0s
  targetNamespace: crai-mcu
