apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-demo-payment-web
  namespace: flux-config
spec:
  chart:
    spec:
      version: "1.19.13" # {"$imagepolicy": "flux-config:ffc-demo-payment-web-snd-03:tag"}
  values:
    environment: production
    name: ffc-demo-payment-web
    namespace: ffc-demo
    image: sndadpinfcr3401.azurecr.io/image/ffc-demo-payment-web:1.19.13 # {"$imagepolicy": "flux-config:ffc-demo-payment-web-snd-03"}
    serviceAccount:
      name: ffc-demo-payment-web
    labels:
      component: web
    container:
      imagePullPolicy: Always
      requestMemory: 50Mi
      requestCpu: 50m
      limitMemory: 200Mi
      limitCpu: 400m
    ingress:
      class: nginx
      endpoint: ffc-demo-payment-web
      server: snd3.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
