apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: trade-exportscore-plp
  namespace: flux-config
  labels:
    backstage.io/kubernetes-id: trade-exportscore-plp
    backstage.io/kubernetes-team: eutd-trade-exports-core
spec:
  releaseName: trade-exportscore-plp
  chart:
    spec:
      chart: trade-exportscore-plp
      version: 0.1.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: eutd-trade-exports-core-helm-repo
        namespace: flux-config
  install:
    createNamespace: true
  interval: 5m0s
  targetNamespace: eutd-trade-exports-core
