apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: crai-jaf-frontend
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.1.0 # {"$imagepolicy": "flux-config:crai-jaf-frontend-snd-04:tag"}
  values:
    environment: production
    name: crai-jaf-frontend
    namespace: crai-mcu
    teamResourceGroupName: ${TEAM_RG}
    image: sndadpinfcr4401.azurecr.io/image/crai-jaf-frontend:0.1.0 # {"$imagepolicy": "flux-config:crai-jaf-frontend-snd-04"}
    serviceAccount:
      name: crai-jaf-frontend
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: crai-jaf-frontend
      server: snd4.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
    storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
    enablePrivateEndpoint: ${ENABLE_PRIVATE_ENDPOINT}
