apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: ffc-sfd-ingress
  namespace: flux-config
  labels:
    backstage.io/kubernetes-id: ffc-sfd-ingress
    backstage.io/kubernetes-team: fcp-sfd
spec:
  image: ${APPLICATION_ACR_NAME}.azurecr.io/helm/ffc-sfd-ingress
  interval: 5m0s
  provider: azure
