apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-sfd-messages-processor
  namespace: flux-config
spec:
  chart:
    spec:
      version: "0.1.1" # {"$imagepolicy": "flux-config:ffc-sfd-messages-processor-snd-03:tag"}
  values:
    environment: production
    name: ffc-sfd-messages-processor
    namespace: ffc-sfd
    image: sndadpinfcr3401.azurecr.io/image/ffc-sfd-messages-processor:0.1.1 # {"$imagepolicy": "flux-config:ffc-sfd-messages-processor-snd-03"}
    serviceAccount:
      name: ffc-sfd-messages-processor
    deployment:
      priorityClassName: default
    container:
      imagePullPolicy: Always
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
