apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: fcp-find-ai-frontend
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.1.29-alpha.581522 # {"$imagepolicy": "flux-config:fcp-find-ai-frontend-snd-03:tag"}
  values:
    environment: production
    name: fcp-find-ai-frontend
    namespace: fcp-find
    teamResourceGroupName: ${TEAM_RG}
    image: sndadpinfcr3401.azurecr.io/image/fcp-find-ai-frontend:0.1.29-alpha.581522 # {"$imagepolicy": "flux-config:fcp-find-ai-frontend-snd-03"}
    serviceAccount:
      name: fcp-find-ai-frontend
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: fcp-find-ai-frontend
      server: snd3.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
    storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
    enablePrivateEndpoint: ${ENABLE_PRIVATE_ENDPOINT}
