apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: trade-exportscore-plp
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.1.4-alpha.585516 # {"$imagepolicy": "flux-config:trade-exportscore-plp-snd-04:tag"}
  values:
    environment: production
    name: trade-exportscore-plp
    namespace: eutd-trade-exports-core
    teamResourceGroupName: ${TEAM_RG}
    image: sndadpinfcr4401.azurecr.io/image/trade-exportscore-plp:0.1.4-alpha.585516 # {"$imagepolicy": "flux-config:trade-exportscore-plp-snd-04"}
    serviceAccount:
      name: trade-exportscore-plp
    container:
      imagePullPolicy: Always
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
    storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
    enablePrivateEndpoint: ${ENABLE_PRIVATE_ENDPOINT}
