apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rpa-mit-manual-templates
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.1.1-alpha.575054 # {"$imagepolicy": "flux-config:rpa-mit-manual-templates-snd-04:tag"}
  values:
    environment: production
    name: rpa-mit-manual-templates
    namespace: lap-mit
    teamResourceGroupName: ${TEAM_RG}
    image: sndadpinfcr4401.azurecr.io/image/rpa-mit-manual-templates:0.1.1-alpha.575054 # {"$imagepolicy": "flux-config:rpa-mit-manual-templates-snd-04"}
    serviceAccount:
      name: rpa-mit-manual-templates
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: rpa-mit-manual-templates
      server: snd4.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
