apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-demo-payment-web
  namespace: flux-config
  labels:
    backstage.io/kubernetes-id: ffc-demo-payment-web
    backstage.io/kubernetes-team: fcp-demo
spec:
  releaseName: ffc-demo-payment-web
  chart:
    spec:
      chart: ffc-demo-payment-web
      version: 0.1.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: fcp-demo-helm-repo
        namespace: flux-config
  install:
    createNamespace: true
  interval: 5m0s
  targetNamespace: fcp-demo
