apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-sfd-permissions-api
  namespace: flux-config
spec:
  chart:
    spec:
      version: "0.2.3" # {"$imagepolicy": "flux-config:ffc-sfd-permissions-api-dev-01:tag"}
  values:
    environment: production
    name: ffc-sfd-permissions-api
    namespace: ffc-sfd
    image: devadpinfcr1401.azurecr.io/image/ffc-sfd-permissions-api:0.2.3 # {"$imagepolicy": "flux-config:ffc-sfd-permissions-api-dev-01"}
    serviceAccount:
      name: ffc-sfd-permissions-api
    deployment:
      priorityClassName: default
    container:
      imagePullPolicy: Always
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
