apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-sfd-data
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.6.8-alpha.605812 # {"$imagepolicy": "flux-config:ffc-sfd-data-snd-04:tag"}
  values:
    environment: production
    name: ffc-sfd-data
    namespace: fcp-sfd
    teamResourceGroupName: ${TEAM_RG}
    image: sndadpinfcr4401.azurecr.io/image/ffc-sfd-data:0.6.8-alpha.605812 # {"$imagepolicy": "flux-config:ffc-sfd-data-snd-04"}
    serviceAccount:
      name: ffc-sfd-data
    container:
      imagePullPolicy: Always
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
    storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
    enablePrivateEndpoint: ${ENABLE_PRIVATE_ENDPOINT}
