apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-demo-claim-service
  namespace: flux-config
spec:
  chart:
    spec:
      version: "5.2.1-alpha.570474" # {"$imagepolicy": "flux-config:ffc-demo-claim-service-snd-03:tag"}
  values:
    environment: production
    name: ffc-demo-claim-service
    namespace: ffc-demo
    image: sndadpinfcr3401.azurecr.io/image/ffc-demo-claim-service:5.2.1-alpha.570474 # {"$imagepolicy": "flux-config:ffc-demo-claim-service-snd-03"}
    serviceAccount:
      name: ffc-demo-claim-service
    deployment:
      priorityClassName: default
    container:
      imagePullPolicy: Always
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
