apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-demo-web
  namespace: flux-config
spec:
  chart:
    spec:
      version: "4.32.28" # {"$imagepolicy": "flux-config:ffc-demo-web-tst-01:tag"}
  values:
    environment: production
    name: ffc-demo-web
    namespace: ffc-demo
    image: tstadpinfcr1401.azurecr.io/image/ffc-demo-web:4.32.28 # {"$imagepolicy": "flux-config:ffc-demo-web-tst-01"}
    serviceAccount:
      name: ffc-demo-web
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: ffc-demo-web
      server: tst1.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
