apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: fcp-find-ai-frontend
  namespace: flux-config
spec:
  chart:
    spec:
      version: "0.1.4" # {"$imagepolicy": "flux-config:fcp-find-ai-frontend-dev-01:tag"}
  values:
    environment: production
    name: fcp-find-ai-frontend
    namespace: ffc-find
    image: devadpinfcr1401.azurecr.io/image/fcp-find-ai-frontend:0.1.4 # {"$imagepolicy": "flux-config:fcp-find-ai-frontend-dev-01"}
    serviceAccount:
      name: fcp-find-ai-frontend
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: fcp-find-ai-frontend
      server: dev1.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
