apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-demo-calculation-service
  namespace: flux-config
spec:
  chart:
    spec:
      version: "4.3.16" # {"$imagepolicy": "flux-config:ffc-demo-calculation-service-tst-01:tag"}
  values:
    environment: production
    name: ffc-demo-calculation-service
    namespace: ffc-demo
    image: tstadpinfcr1401.azurecr.io/image/ffc-demo-calculation-service:4.3.16 # {"$imagepolicy": "flux-config:ffc-demo-calculation-service-tst-01"}
    serviceAccount:
      name: ffc-demo-calculation-service
    deployment:
      priorityClassName: default
    container:
      imagePullPolicy: Always
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
