apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ffc-sfd-auth
  namespace: flux-config
spec:
  chart:
    spec:
      version: 0.6.1 # {"$imagepolicy": "flux-config:ffc-sfd-auth-dev-01:tag"}
  values:
    environment: production
    name: ffc-sfd-auth
    namespace: fcp-sfd
    teamResourceGroupName: ${TEAM_RG}
    image: devadpinfcr1401.azurecr.io/image/ffc-sfd-auth:0.6.1 # {"$imagepolicy": "flux-config:ffc-sfd-auth-dev-01"}
    serviceAccount:
      name: ffc-sfd-auth
    labels:
      component: web
    container:
      imagePullPolicy: Always
    ingress:
      class: nginx
      endpoint: ffc-sfd
      server: dev1.adp.defra.gov.uk
    deployment:
      priorityClassName: default
    containerConfigMap:
      configServiceName: ${APPCONFIG_NAME}
      configServiceMIClientId: ${APPCONFIG_MI_CLIENTID}
      serviceMIClientId: ${clientId}
    storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
    enablePrivateEndpoint: ${ENABLE_PRIVATE_ENDPOINT}
